## Applying Functions to DataFrame

In [10]:
import pandas as pd 
import numpy as np
df = pd.read_csv('D:\\python Programming\\DataSets\\data_jobs.csv')

In [11]:
df.shape

(785741, 17)

**Creating a function**

In [12]:
def projected_sal(row):
    if 'Senior' in row['job_title_short']:
        return 0.5*row['salary_year_avg']
    else :
        return 0.2*row['salary_year_avg']

**Applying the Function to the projected_sal**

In [13]:
df['update_avg_Salary'] = df.apply(projected_sal,axis=1)

In [16]:
df['update_avg_Salary'].dropna()

28        21900.0
77        28000.0
92        24000.0
100       45644.4
109       17800.0
           ...
785624    27843.2
785641    30000.0
785648    44375.0
785682    31500.0
785692    31500.0
Name: update_avg_Salary, Length: 22003, dtype: float64

## **Apply the lambda function to the dataframe**

In [17]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 785741 entries, 0 to 785740
Data columns (total 18 columns):
 #   Column                 Non-Null Count   Dtype
---  ------                 --------------   -----
 0   job_title_short        785741 non-null  object
 1   job_title              785740 non-null  object
 2   job_location           784696 non-null  object
 3   job_via                785733 non-null  object
 4   job_schedule_type      773074 non-null  object
 5   job_work_from_home     785741 non-null  bool
 6   search_location        785741 non-null  object
 7   job_posted_date        785741 non-null  object
 8   job_no_degree_mention  785741 non-null  bool
 9   job_health_insurance   785741 non-null  bool
 10  job_country            785692 non-null  object
 11  salary_rate            33067 non-null   object
 12  salary_year_avg        22003 non-null   float64
 13  salary_hour_avg        10662 non-null   float64
 14  company_name           785723 non-null  object
 15  job_skills             668704 non-null  object
 16  job_type_skills        668704 non-null  object
 17  update_avg_Salary      22003 non-null   float64
dtypes: bool(3), float64(3), object(12)
memory usage: 92.2+ MB

importing ast

In [18]:
import ast

In [21]:
df['job_skills'] = df['job_skills'].apply(lambda x:ast.literal_eval(x) if pd.notna(x) else x)

In [22]:
df['job_skills']

0                                                       NaN
1                [r, python, sql, nosql, power bi, tableau]
2         [python, sql, c#, azure, airflow, dax, docker,...
3         [python, c++, java, matlab, aws, tensorflow, k...
4         [bash, python, oracle, aws, ansible, puppet, j...
                                ...
785736    [bash, python, perl, linux, unix, kubernetes, ...
785737                               [sas, sas, sql, excel]
785738                                  [powerpoint, excel]
785739    [python, go, nosql, sql, mongo, shell, mysql, ...
785740                                          [aws, flow]
Name: job_skills, Length: 785741, dtype: object