In [ ]:
print("This is the best language!!!!")

This is the best language!!!!

In [3]:
my_print_func = print
my_print_func("This the second best way to use print function ")

This the second best way to use print function

**Format Method in Python(Strings)**

In [1]:
role = "Data Analyst"
skill = "Python"
"Role :{} ; Skills Required : {}".format(role,skill)

'Role :Data Analyst ; Skills Required : Python'

**FStrings in Python Strings**

In [2]:
f"Role : {role} ; Skills : {skill}"

'Role : Data Analyst ; Skills : Python'

**%Formating in String**

In [3]:
"Role : %s ; Skills Required : %s" % (role,skill)

'Role : Data Analyst ; Skills Required : Python'

In [1]:
a1 = 1000
a2 = 2000
a1,a2 = a2,a1
f"a1 = {a1} ; a2 = {a2}"

'a1 = 2000 ; a2 = 1000'

**Conditional Statements**

1. if statement
2. elif statement
3. else statement

In [4]:
age = 75.67
if age >= 18 :
    print("You can take the license !!!")
elif age < 18:
    print("you cannot take the license")
else :
    print("try agian next year")

You can take the license !!!

**List in Python**

In [14]:
l1 = ["pallav" , "suijt" , "Tanvi" , "shyam" , "Swarup", 23 , 21]
l1

['pallav', 'suijt', 'Tanvi', 'shyam', 'Swarup', 23, 21]

**List APPEND()**

In [11]:
l1.append("Aarti")
l1

['pallav', 'Tanvi', 'shyam', 'Swarup', 23, 21, 'Aarti', 'Aarti', 'Aarti']

**List REMOVE()**

In [15]:
l1.remove("suijt")
print(l1)

['pallav', 'Tanvi', 'shyam', 'Swarup', 23, 21]

**List Length()**

In [7]:
len(l1)

8

In [12]:
l1.count("Aarti")

3

**Dictonary in python**

In [20]:
d1 = { 'a' : "Apple" , 'b' : "Ball" , 'c' : "Cat" , 'd' : "Dog"}
d1['a']

'Apple'

values() method

In [17]:
d1.values()

dict_values(['Apple', 'Ball', 'Cat', 'Dog'])

key method

In [18]:
d1.keys()

dict_keys(['a', 'b', 'c', 'd'])

Pop method

In [19]:
d1.pop('a')

'Apple'

**Updating a dictonary**

Method 1

In [27]:
d1.update({'e' : 'elephant'})
d1

{'a': 'Apple', 'b': 'Ball', 'c': 'Cat', 'd': 'Dog', 'e': 'elephant'}

Method 2

In [30]:
d1['f'] = 'frog'
d1

{'a': 'Apple',
 'b': 'Ball',
 'c': 'Cat',
 'd': 'Dog',
 'e': 'elephant',
 'f': 'frog'}

**Dictonary are Mutable**

but only the  values are mutable the keys are not mutable

In [39]:
d1['a'] = 'Alphabet'
d1

{'a': 'Alphabet',
 'b': 'Ball',
 'c': 'Cat',
 'd': 'Dog',
 'e': 'elephant',
 'f': 'frog',
 'x': 'Alphabet'}

In [41]:
#if we do this it will throw an error
d1.pop('x')
d1

{'a': 'Alphabet',
 'b': 'Ball',
 'c': 'Cat',
 'd': 'Dog',
 'e': 'elephant',
 'f': 'frog'}

**Join Method in String**

In [2]:
role = "Data Analyst"
s1 = ["python" , "Sql"]
print("Role : "+ role + ", Skill Required : "+ ','.join(s1))

Role : Data Analyst, Skill Required : python,Sql

In [3]:
s2 = "123456789"
print("Numbers : " , ','.join(s2))

Numbers :  1,2,3,4,5,6,7,8,9

**Conditional Statements  & Loops**

1. what is a conditional Statement ??
2. what are types of conditional statements ??
3. what are loops ??
4. what are loop control statements ??

Indentation : Indentation in Python is the whitespace (spaces or tabs) that you put at the beginning of a code line. It is a crucial part of the Python syntax and is used to define code blocks. Unlike other programming languages that use curly braces {} to define code blocks, Python uses indentation to group statements together.

**##Conditional Statements##**

1. if 
2. if else
3. if-elif-else
4. nested if-else

Syntax : 
1.          if condition :
2.              statements

In [3]:
if 10>2 :
    print("condition Statisfy!!")

condition Statisfy!!

2. if-else statements

1. if condition :
2.                statement 1
3. else :
4.                statement 2

In [4]:
#Even odd program

number = 18
if number%2 == 0 :
    print("Number is Even")
else :
    print("Number is odd")

Number is Even

In [7]:
age = int(input("Enter your age : "))
if age >= 18 :
    print("you can drive !!!")
else :
    print("you cannot drive !!!")

you cannot drive !!!

In [11]:
username = "Pallav"
password = "1234"

U_user = input("Enter Username : ")
U_pass = input("Enter your password : ")

if U_user == username and U_pass == password :
    print("Welcome to instagram")
else : 
    print("Invalid username and password !!")

Welcome to instagram

3. if-elif-else statements

In [15]:
marks = int(input("Enter your marks : "))
if marks > 80 and marks < 100 : 
    print("Grade : A")
elif marks > 60 and marks < 79:
    print("Grade : B")
elif marks >35 and marks < 59:
    print("Grade : C")
elif marks < 35 :
    print("Grade : fail")
else :
    print("Enter vaild marks !!! ")

Enter vaild marks !!!

Nested if Statement

An if statement in another if statement

In [21]:

age = int(input("Enter your age : "))


if age >= 18:
    weight = int(input("Enter your weight"))
    if weight >= 40:
        bg = input("Enter the blood group : ")
        if bg == "A" or "B" or "B-" or "O":
            print("Thanks for donating !!")
        else:
            print("Enter valid input!!!")
    else:
        print("You cannot donate blood(Weight not meet the reqirements)!!")
else:
    print("You cannot donate blood(Age not sufficient)")

You cannot donate blood(Age not sufficient)

In [2]:
d1 = {
    "Name " : "Pallav",
    "Roll no" : "1234",
    "Class " : "IV",
    "Section " : "A" 
}

In [ ]:
for k in d1.keys():
    print(k)

Name
Roll no
Class
Section

In [4]:
for v in d1.values() :
    print(v)

Pallav
1234
IV
A

In [6]:
for k,v in d1.items() :
    print(k + " : " + v)

Name  : Pallav
Roll no : 1234
Class  : IV
Section  : A

In [29]:
list2 = ["pallav","Sujit","Shyam","Arnav","Radheya","bhushan","pallav"]
print(l2.count("pallav"))
print(len(l2))
print(l2.index("Sujit"))

1
6
0

In [7]:
email = "Pallav@gmail.com"
i = email.index("@")
name = email[:i]
domain = email[i:]
print(name)
print(domain)

Pallav
@gmail.com

In [30]:
list2
list2.pop()
list2.pop()
list2.pop()
list2.pop()
list2.pop()
list2.append("tanvi")
list2.append("Murli")
list2

['pallav', 'Sujit', 'tanvi', 'Murli']

In [31]:
l1,*l2 = list2
print(l1)
print(l2)

pallav
['Sujit', 'tanvi', 'Murli']